// Theme's Styles
@import("/Users/rafal/Documents/Programming/Own_Adapter/documentation/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/rafal/Documents/Programming/Own_Adapter/documentation/src/.vuepress/styles/index.styl")